
node_modules/
dist/
firebase-debug.log
.env*
*.zip
*.json
serviceAccountKey.json
*.pem
*.p12
*.env
.firebase/
.DS_Store
.env
*.env
*.key
serviceAccountKey*.json
firebase-adminsdk-*.json
google-credentials*.json
node_modules/
dist/
.cache/
*.log
